.idea/copyright
.idea/.name
.idea/.compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
out/
*.class
*.jar
.DS_Store
logs
project/project
project/target
target
tmp
